<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">LOCAL DE VACUNACIÓN</h2>
            </div>
        </div>
        <div class="col-lg-12 text-center">
              <br>
              <br>
            <p>Estimad@ XXXXXX,  tenemos 1 campaña de vacunación disponible</p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
                    <label class="col-lg-8 control-label">Local</label>
                    <div class="col-lg-8 text-center">
                        <input type="text" class="form-control" formControlName="local" />
                    </div>
                    <label class="col-lg-8 control-label">Direccion:</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="direccion" />
                    </div>
                    <label class="col-lg-8 control-label">Fecha:</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="fecha" />
                    </div>
        </div>        
    </div> 
</section>