<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">PADRÓN DE VACUNACIÓN</h2>
            </div>
        </div>
            <div class="col-lg-12 text-center">
              <br>
              <br>
            <p>Estimad@ XXXXXX,  se le han aplicado las siguientes dosis</p>
            <br>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Fabricante</th>
                  <th scope="col">Fecha - Hora</th>
                  <th scope="col">Personal médico</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>               
              </tbody>
            </table> 
        </div>
</section>

