<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">PADRÓN DE VACUNACIÓN</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
            <p>Estimad@ XXXXXX,se le han aplicado las siguientes dosis</p>
            <br>
            <div class="gridStyles" ng-grid="gridOptions">
                <div class="container">
                    <div class="row">
                      <div class="col">
                        Fabricante
                      </div>
                      <div class="col">
                        Fecha - Hora
                      </div>
                      <div class="col">
                        Personal medico
                      </div>
                    </div>
                </div>
            </div>        
            </div> 
        </div>
    </div>
</section>

